body {
  <!-- background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0c/Peanutjar.jpg");
   -->
   background-color: #7ee7f7;
}
.strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
